# Generic folders to ignore
/.mixin.out/
/saves/
/mod_rips/
/crash-reports/
/logs/
/mods/
/mods
/optional_mods/
/kubejs/exported/
/resourcepacks/
/build/
/artifacts/
/config/jei/
/config/cherishedworlds
/tconplanner

# File to ignore

BotaniaVars.dat
usercache.json
usernamecache.json
realms_persistence.json
options.txt
servers.dat
servers.dat_old
whitelist.json
ops.json
patchouli_data.json
minecraftinstance.json
.curseclient

# Client configs

config/*-client.toml
config/*-client.json
defaultconfigs/*-client.toml
defaultconfigs/*-client.json
